:root{
  --bg:#f4f6f8;
  --card:#ffffff;
  --text:#000;
  --side:#2f3e46;
}
.dark{
  --bg:#1e1e1e;
  --card:#2a2a2a;
  --text:#f5f5f5;
  --side:#000;
}

body{
  margin:0;
  font-family:Arial;
  background:var(--bg);
  color:var(--text);
}

.hidden{display:none}

.login{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.login-box{
  background:var(--card);
  padding:20px;
  border-radius:10px;
  width:260px;
}

.app{
  display:flex;
  min-height:100vh;
}

.sidebar{
  width:200px;
  background:var(--side);
  color:#fff;
  padding:15px;
}
.sidebar button{
  width:100%;
  margin-bottom:10px;
  padding:8px;
  border:none;
  cursor:pointer;
}

.content{
  flex:1;
  padding:20px;
}

.cards{
  display:flex;
  gap:10px;
}
.card{
  background:var(--card);
  padding:15px;
  border-radius:10px;
  flex:1;
  text-align:center;
}

.untung{background:#d4edda;color:#155724}
.rugi{background:#f8d7da;color:#721c24}
.impas{background:#fff3cd;color:#856404}

input, textarea, select, button{
  width:100%;
  padding:8px;
  margin-bottom:8px;
}
