/* RESET */body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  max-width: 400px;
  margin: 50px auto;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.hasil {
  text-align: center;
  font-weight: bold;
}

.untung {
  background: #d4edda;
  color: #155724;
}

.rugi {
  background: #f8d7da;
  color: #721c24;
}

.impas {
  background: #fff3cd;
  color: #856404;
}
