:root{
  --bg:#f4f6f8;--card:#fff;--text:#000;--side:#2f3e46;
}
.dark{
  --bg:#1e1e1e;--card:#2a2a2a;--text:#f5f5f5;--side:#000;
}
body{margin:0;font-family:Arial;background:var(--bg);color:var(--text)}
.hidden{display:none}
.layout{display:flex;min-height:100vh}
.sidebar{width:200px;background:var(--side);color:#fff;padding:20px}
.sidebar li{list-style:none;padding:10px;background:#52796f;margin-bottom:10px;cursor:pointer;border-radius:6px}
.content{flex:1;padding:20px}
.card{background:var(--card);padding:12px;border-radius:10px;margin-bottom:12px}
input,textarea,select,button{width:100%;padding:10px}
.summary{display:flex;gap:10px}
.summary-card{flex:1;background:var(--card);padding:12px;border-radius:10px;text-align:center;font-weight:bold}
.untung{background:#d4edda;color:#155724}
.rugi{background:#f8d7da;color:#721c24}
.impas{background:#fff3cd;color:#856404}
.login-page{height:100vh;display:flex;align-items:center;justify-content:center}
.login-box{background:var(--card);padding:24px;border-radius:10px;width:260px}
